// Specific CSS for your home-page
.evenement-infos {
  // background: white;

  color: white;
  padding: 1px 15px;
  h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  ul {
    font-size: 16px;
  }
}

.evenement-infos:hover {
  color: $light-gray;
  opacity:0.9;
}

.evelink {
  text-decoration: none;
  padding: 10px 0px;

}

.evelink:hover {
  text-decoration: none;
}

.lemas {
  margin-bottom: 0px;
  font-family: 'Just Another Hand', cursive;
  font-size: 130px !important;
  line-height: 0.7;
  color: $brown;

}

.desanges {
  margin-top: 0px;
  color: white;
  font-size: 75px !important;
  font-family:'Cormorant Unicase', serif;
  font-weight:bold;
    line-height: 0.7;
}

body {
  color:$gray;
}

@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

@media (min-width: 2000px) {
  .container {
    width: 1900px;
  }
}
