// Specific CSS for your home-page
.evenement-infos {
  background: white;
  opacity: 0.85;
  border-radius: 5px;
  // width:100%;

  color: #9d9883;
  padding: 1px 15px;
  h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  ul {
    font-size: 12px;
  }
}

.evenement-infos:hover {
  color: $red;
  opacity:1;
}

.evelink {
  text-decoration: none;
  padding: 10px 0px;

}

.evelink:hover {
  text-decoration: none;
}

.lemas {
  margin-bottom: 0px;
  font-family: 'Just Another Hand', cursive;
  font-size: 130px !important;
  line-height: 0.7;
  color: $brown;

}

.desanges {
  margin-top: 0px;
  color: white;
  font-size: 75px !important;
  font-family:'Cormorant Unicase', serif;
  font-weight:bold;
    line-height: 0.7;
}

body {
  color:$gray;
}
