.barimage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
  background-image: image-url("QUELLE_TRANQUILITE.JPG");
}

.masdesanges {
  h1 {
    color:$brown;
  }
}

.imgtext {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.imgcarred {
  height: 30vw;
  border-radius: 5px;
  margin: 0 0 0 20px;
}

.imgcarreg {
  height: 30vw;
  border-radius: 5px;
  margin: 0 20px 0 0;
}

.textcarre {
}
