<div class="footer">
  <div class="footer-copyright">
    <%= t(:pied) %>
    <%= link_to t(:mentionslegales_link), mentionslegales_path, class:"mentions_link" %>
      -
    <%= link_to t(:contacteznous), contacteznous_path, class:"mentions_link" %>
  </div>

</div>
