<div class="barimage2"></div>
<div class="container" style="text-align:center;">
  <h1 >COMMENT VOUS RENDRE AU MAS DES ANGES - MENERBES</h1>
  <br>
  <%= simple_format(t(:CV1)) %>
  <br>
  &nbsp;<h1 class="adresse"><i class="fas fa-map-marker-alt"></i> 1045 route de Cavaillon - Lieu-dit Le Camp - CD n° 3 <br> 84560 MENERBES</h1> &nbsp;
  <div id="map" class="leafletmap"></div>
</div>

 <script src="https://unpkg.com/leaflet@1.5.0/dist/leaflet.js"
   integrity="sha512-3Wcxp7F9bV2pl+MBgrL6Pz7AJASLpemmQPIiPA0lDs3ImF0z4JuuMIBPeirLbgIuhfH2gJyGWZjvm6M+Zr7L6Q=="
   crossorigin=""></script>
