<div
  class="test banner"
  data-slides='[
    "assets/OLIVIER_ET_LAVANDE_AU_BORD_DE_LA_PISCINE.JPG",
    "assets/ENTREE.JPG",
    "assets/IRIS3.JPG",
    "assets/LE_MAS_DES_ANGES_LENTREE.JPG",
    "assets/QUELLE_TRANQUILITE.JPG",
    "assets/SENTEURS_DE_PROVENCE_AU_BORD_DE_LEAU.JPG",
    "assets/TOUTE_LA_PROVENCE.JPG",
    "assets/UNE_PARTIE_DE_PETANQUE.JPG",
    "assets/UN_COIN_DE_REPOS.JPG"
  ]'
>
  <div class="banner-content">
    <h1 class="lemas">le mas </h1>
    <h1 class="desanges">DES ANGES</h1>
    <%= link_to evenements_path, class:"evelink" do %>
    <div class="evenement-infos">
      <h3>Cet été dans le Lubéron :</h3>
      <ul>
        <li>Festival du Lubéron à Lacoste et Ménerbes (musique classique)</li>
        <li>Festival d'Avignon (théâtre)</li>
        <li>Festival International de la Roque d'Anthéron (piano)</li>
      </ul>
    </div>
    <% end %>
    <%= link_to "Réservez Ici", reserver_path, class:"btn btn-lg bouton" %>
  </div>
</div> <!-- /.primary -->

