.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-225deg, rgba(95, 95, 95, 0.3) 0%, rgba(0,0,0,0.3) 50%), url('OLIVIER ET LAVANDE AU BORD DE LA PISCINE.JPG');
}
.banner h1 {
  font-size: 50px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.bouton {
  color: rgba(95, 95, 95, 1);
  background-color: white;
  transition: all 0.15s ease;
  margin-top: 20px;
  opacity: 0.8;

}

.bouton:hover {
  color:#C49991 !important;
  opacity: 1;

}

.banner-content {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.banner-content h2 {
  text-shadow: 0 2px 2px black;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
